
html {

}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

nav {
	width: 100%;
	margin: 0;
  	background-color: #333;
  	flex-wrap: wrap;
  	justify-content: space-between;
}

nav ul {
	display: flex;
	list-style-type: none;
	width: 90%;
	margin: 0 8%;

}

nav li {
	padding: 0.8em;
	color: #ddd;
	border-bottom: solid 4px #333;
	transition: 0.2s ease-in;

}

nav li:hover {
	background-color: GreenYellow;
	color: DarkGreen;
	border-bottom: solid 4px GreenYellow;
	transition: 0.2s ease-in;
}

.nav-active {
	border-bottom: solid 4px GreenYellow;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#menuToggle { 
    display: none;
} 

.banner {
  	object-fit: cover;
  	height: 400px;
  	width: 80%;
	margin: 20px 0 -10px 10%;
}

main {
	margin: 0 10%;
}

.flex {
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	width: 100%
} 

.flex a {
	margin: 5px;
}

.img-container {
  position: relative;
  width: 300px;
}

.images {
  display: block;
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: .5s;
  background-color: black;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}

.img-container:hover .img-overlay {
  opacity: 0.8;
  background-color: GreenYellow;
   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(GreenYellow), to(GreenYellow));
}

.img-text {
  color: black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
	bottom: 0;
	width: 100%;
	margin: 10px 0 0 0;
  	background-color: #333;
  	flex-wrap: wrap;
  	justify-content: space-between;
}

footer p {
	padding: 0.8em;
	margin: 0 10%;
	color: #ddd;
	margin-bottom: 0;
	font-weight: bold;
}